<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::system">
                    <!-- Une console d'exploitation, pas un réglage de boutique : la ressource vit
                         sous System, comme le menu. -->
                    <resource id="Gplanchat_DurableModule::processes" title="Durable processes" sortOrder="90">
                        <resource id="Gplanchat_DurableModule::process_history" title="Process history" sortOrder="10"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
