<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Gplanchat_DurableModule::processes" title="Durable processes" module="Gplanchat_DurableModule"
             sortOrder="90" parent="Magento_Backend::system" resource="Gplanchat_DurableModule::processes"/>
        <add id="Gplanchat_DurableModule::process_history" title="Process history" module="Gplanchat_DurableModule"
             sortOrder="10" parent="Gplanchat_DurableModule::processes"
             action="durable/process/history" resource="Gplanchat_DurableModule::process_history"/>
    </menu>
</config>
